<div class="flex flex-row">
  <div class="left w-[75%] h-[70%] bg-black">
    <div class="bg-[#F2F2F2] h-10">

    </div>

    <div class="bg-[#FFFFFF] h-8">
      <div class="flex flex-row justify-between p-1 gap-4">
        <h2 class="text-base">Section</h2>
        <h2 class="font-bold">Time left: <span>2:30 hr</span></h2>
      </div>
    </div>


    <div class="bg-[#FFFFFF] h-10 border-2">
      <div class="flex flex-row gap-4">
        <button class="border-1 p-1.5 hover:bg-blue-600">Physics</button>
        <button class="border-1 p-1.5 hover:bg-blue-600">Chemistry</button>
        <button class="border-1 p-1.5 hover:bg-blue-600">Mathematics</button>
      </div>
    </div>
    <div class="bg-[#5E98D1] h-10">
        <div class="w-1/6 bg-white pl-8 flex flex-row mx-[83.3%]">
          <select id="underline_select" class="block bg-white py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
            <option selected>English</option>
            <option value="en">Hindi</option>
          </select>
        </div>
    </div>

    <div class="bg-white border-2 h-[700px]">


    </div>
    <div></div>
  </div>


  <div class="right w-[25%] h-[70%]">
    <div class="profile bg-[#FFFFFF] border-2 border-spacing-3 h-48 flex flex-row ">
        <div class="PrfileImage w-[50%] ">
          <img class="w-[60%] border-2 mx-12 mt-4 " src="https://static.vecteezy.com/system/resources/previews/012/177/622/original/man-avatar-isolated-png.png"/>
        </div>
        <div class="mt-8">
            <h2 class="font-bold">Name: <span>Vivek Gupta</span></h2>
            <h2 class="font-bold">Roll: <span>2005250130056</span></h2>
            <h2 class="font-bold">Subject:<span>CS&IT</span></h2>
        </div>
    </div>
    <div class="border-2 border-black flex flex-col my-8 pb-20">
      <div class="bg-stone-200 h-36">
        <div class="grid grid-cols-2 grid-flow-row gap-4 p-2">
                <div><h1>Answered</h1></div>
                <div><h1>Not Answered</h1></div>
                <div><h1>Not Visited</h1></div>
                <div><h1>Mark for review</h1></div>
                <div><h1>Answered & Marked for review(Evaluated)</h1></div>
        </div>
      </div>

      <div class="ques_num flex flex-col pt-4">
          <div class="bg-blue-600 ">
            <h1 class="text-xl font-bold">Physics Section-A</h1>
          </div>
          <div class="pt-4">
            <h2 class="text-base font-bold">Choose a question</h2>
          </div>
          <div class="max-w-screen-md mx-6 mt-8">
            <div class="grid grid-cols-5 gap-2 font-bold">
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">1</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">2</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">3</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">4</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">5</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">6</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">7</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">8</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">9</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">10</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">11</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">12</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">13</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">14</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">15</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">16</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">17</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">18</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">19</button>
              <button class="bg-black text-white py-4 px-2 rounded-lg w-16 h-16">20</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
